/* src/assets/styles/fonts.css */

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* body {
  font-family:
    "Gilroy",
    system-ui,
    -apple-system,
    sans-serif;
  color: #111;
} */

/* .container {
  max-width: 1140px !important;
  margin: auto;
} */
*/

/* =========================
   COLORS
========================= */
:root {
  --primary: #4e44d8;
  --orange: #ff7a00;
  --grey: #6b7280;
}

.bg-orange {
  background: var(--orange);
}

.text-orange {
  color: var(--orange);
}

.text-primary {
  color: #4e44d8 !important;
}

.text-orange {
  color: #ff7a00 !important;
}

.text-grey {
  color: #6b7280 !important;
}

h1,
h2,
h3 {
  font-weight: 600 !important;
}

.btn {
  box-shadow: none;
  font-weight: 600;
}

.btn-primary {
  color: #fff;
  background-color: #4e44d8;
}

.btn-primary:hover {
  background-color: #4e44d2;
  color: #fff;
}